/*Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding-top: 100px; */
}

/* Global styles */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f2f5f6;
  color: #12141d;
}

/* Font sizes */

/* Headings */
h1 {
  font-size: 2.5rem; /* 40px */
}
h2 {
  font-size: 2rem; /* 32px */
}
h3 {
  font-size: 1.75rem; /* 28px */
}
h4 {
  font-size: 1.5rem; /* 24px */
}
h5 {
  font-size: 1.25rem; /* 20px */
}
h6 {
  font-size: 1.125rem; /* 18px */
}

/* Body text */
p {
  font-size: 1rem; /* 16px */
}

/* Other text elements */
span {
  font-size: inherit;
}
label {
  font-size: 0.875rem; /* 14px */
}
small {
  font-size: 0.75rem; /* 12px */
}
strong {
  font-size: 1rem; /* 16px */
}
em {
  font-size: 1rem; /* 16px */
}

/* Button text */
button {
  font-size: 1rem; /* 16px */
}

/* Input field text */
input {
  font-size: 1rem; /* 16px */
}

#hero {
  padding: 100px 120px;

  gap: 10px;
  border: #12141d;
  width: auto;
}

.hero-content {
  display: flex;
  flex-direction: row;
}

#Frame-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  color: #12141d;

  span {
    color: #043a53;
  }
}

#bottom-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#get-started-button {
  padding: 16px 24px;
  border-radius: 55px;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #043a53;
  color: #ffffff;
  filter: drop-shadow(0 23px 47px #043a533d);
}

#check-video-button {
  display: flex;
  height: auto;
  width: auto;
  gap: 16px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 23px 47px #043a533d);
  border: none;
  background: none;
}

button {
  padding: 8px 16px;
  height: 50px;
  width: 92px;
  border: none;
  border-radius: 42px;
  font-size: 1rem;
  cursor: pointer;
}
