/*Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding-top: 100px; */
}

/* Global styles */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f2f5f6;
  color: #12141d;
}

/* Font sizes */

/* Headings */
h1 {
  font-size: 2.5rem; /* 40px */
}
h2 {
  font-size: 2rem; /* 32px */
}
h3 {
  font-size: 1.75rem; /* 28px */
}
h4 {
  font-size: 1.5rem; /* 24px */
}
h5 {
  font-size: 1.25rem; /* 20px */
}
h6 {
  font-size: 1rem; /* 16px */
}

/* Body text */
p {
  font-size: 1rem; /* 16px */
}

/* Other text elements */
span {
  font-size: 1rem; /* 16px */
}
label {
  font-size: 0.875rem; /* 14px */
}
small {
  font-size: 0.75rem; /* 12px */
}
strong {
  font-size: 1rem; /* 16px */
}
em {
  font-size: 1rem; /* 16px */
}

/* Button text */
button {
  font-size: 1rem; /* 16px */
}

/* Input field text */
input {
  font-size: 1rem; /* 16px */
}

.header {
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
}

li a {
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 14px;
  color: #12141d;
  text-decoration: none;
}

button {
  padding: 8px 16px;
  height: 50px;
  width: 92px;
  border: none;
  border-radius: 42px;
  font-size: 1rem;
  cursor: pointer;
}

.buttons {
  gap: 10px;
  display: flex;
}

#login-button {
  background-color: #ffffff;
  color: #12141d;
}

#signup-button {
  background-color: #043a53;
  color: #ffffff;
}
